/* Akashdeep CSS */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}
 .emojis
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem 1rem 2rem;
     text-align:center;

}
/*.emojis {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width:40%;
 
}*/

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
 text-align:left;
 font-size: 1.2em;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
padding: 1rem 3rem;
  border-radius: 8px;
  text-align:left;
  font-size: 1em;
  
}

.icon {
  font-size: 4rem;

}

p
{
	text-align:left;
	padding-bottom:20px;
	height: 141px;
}